<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="links">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <link rel="stylesheet" th:href="@{/css/theme.css}">
</head>
<body>
<div th:fragment="header">
    <p sec:authorize="hasRole('ROLE_ADMIN')">
        Jesteś adminem!
    </p>
    <div class="navbar-wrapper">
        <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Project name</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/}">Home</a></li>

                            <!--TUTAJ BEDZIEMY PISAĆ-->
                            <li><a th:href="@{/event/list}">Events</a></li>
                            <li><a th:href="@{/event/add}">Add Event</a></li>

                            <li><a th:href="@{/reservation/list}">Reservations</a></li>
                            <li><a th:href="@{/reservation/add}">Add Reservation</a></li>

                            <li><a th:href="@{/about}">About</a></li>
                            <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
                            <!--aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Action</a></li>-->
                            <!--<li><a href="#">Another action</a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                            <!--<li><a href="#">One more separated link</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</div>

<div th:fragment="footer">
    <script type="javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</body>
</html>